In [7]:
## NESTED IF STATEMENT 
price=int(input("enter the price "))
if price >3000:
    print(f"the price of the product is{price*0.8}")
elif price >= 2000 and price <=3000:
    if price==2999:
        print("you will get an extra bag")
    print("the price of the product is {}:".format(price*0.7))
elif price >=1000 and price<=2000:
    print(f"the price of the product is :{price*0.6}")
else:
    print("no discout")

enter the price  2999

you will get an extra bag
the price of the product is 2099.2999999999997:

In [3]:
# comparision operator 
True == True

True

In [4]:
# SINGLE STATEMENT suites

In [6]:
val = int(input("enter the value:"))
if val <= 999: print("value is less than equal to 999")
else:
    print("go home")

enter the value: 1000

go home

## LOOP STATEMENTS

1. while loop 
2. for loop
3. Loop control (break, continue, pass)

In [14]:
# WHILE LOOP
joining_age=25
while joining_age<=60:
    joining_age = joining_age + 1
    print(joining_age)
else:
    print("its time for retirement")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
its time for retirement

In [15]:
## task1
### consider there is an atm machine with 1000 rs

total_amt=1000
while total_amt!=0:
    print(total_amt)
    total_amt=total_amt-100
else:
    print("put more money bank people")

1000
900
800
700
600
500
400
300
200
100
put more money bank people

In [17]:
###

## FOR LOOP

In [18]:
lst=['hitesh',1,2,3,4,"apple","banana"] ## list of elements

In [19]:
type(lst)

list

In [20]:
lst[0]

'hitesh'

In [22]:
lst[5]

'apple'

In [23]:
for x in lst:
    print(x) ### it will just iterate collection of list

hitesh
1
2
3
4
apple
banana

In [24]:
#EX 2
fruit_list = ['apple','banana','cherry','dragon fruit','grapes','mango']

In [26]:
for a in fruit_list:
    print(a)
    if a=="cherry":
        print("The fruit is cherry")
        break

apple
banana
cherry
The fruit is cherry

for ;loop is just iterate through the elements in the list

In [27]:
fruit='mango'
for x in fruit:   ### STRING IS ALSO A COLLECTION OF ELEMENTS WE CAN INDEXING THE STRING
    print(x)  ## it is printing line by line because print has end \n

m
a
n
g
o

In [28]:
fruit[2]

'n'

In [29]:
fruit[0]

'm'

In [31]:
fruit='mango'
for x in fruit: 
    print(x,end='')

mango

In [32]:
## NESTED LOOPS
n=7

In [35]:
range(1,6)

range(1, 6)

In [36]:
for i in range(1,9):
    print(i)

1
2
3
4
5
6
7
8

In [38]:
### printing 2 table 
for i in range(2,22,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [39]:
## PRINTING 5 TABLE 
for i in range(5,55,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [48]:
## nested loop
n=7


for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [47]:
## nested loop
n=7


for i in range(0,n):
    for j in range(0,i+1):
        print("*")
    print("\r")

*

*
*

*
*
*

*
*
*
*

*
*
*
*
*

*
*
*
*
*
*

*
*
*
*
*
*
*

In [49]:
for i in range(0,n):
    for j in range(0,i+1):
        print("#",end="")
    print("\r")

#
##
###
####
#####
######
#######

In [ ]:
### if i want to print like euilateral trianle


### break and continue

In [59]:

fruit_list = ['apple','banana','cherry','dragon fruit','grapes','mango']

In [60]:
fruit_list

['apple', 'banana', 'cherry', 'dragon fruit', 'grapes', 'mango']

In [61]:
for i in fruit_list:
    print(i)

apple
banana
cherry
dragon fruit
grapes
mango

### break    break will stop the loop

In [65]:
for i in fruit_list:
    if i=='grapes':
        print('the fruit is grapes')
        break
    print(i)

apple
banana
cherry
dragon fruit
the fruit is grapes

In [66]:
#

### continue
continue will skip the loop

In [71]:
for i in fruit_list:
    if i=='grapes':
        print('the fruit is grapes')
        continue
    print(i)

apple
banana
cherry
dragon fruit
the fruit is grapes
mango

In [72]:
#

### pass
pass will not do anythig

In [73]:
for i in fruit_list:
    if i=='grapes':
        print('the fruit is grapes')
        pass
    print(i)

apple
banana
cherry
dragon fruit
the fruit is grapes
grapes
mango